services:
  - type: worker
    name: raport-diagnoza-worker
    env: node
    plan: free
    region: frankfurt
    buildCommand: "npm install"
    startCommand: "node index.js"
    autoDeploy: true
    envVars:
      - key: IMAP_HOST
        sync: false
      - key: IMAP_PORT
        sync: false
      - key: IMAP_SECURE
        sync: false
      - key: IMAP_USER
        sync: false
      - key: IMAP_PASS
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: POLL_SECONDS
        sync: false
